//
// Provides a drop-in pointer for the default Trix stylesheet that will format the toolbar and
// the trix-editor content (whether displayed or under editing). Feel free to incorporate this
// inclusion directly in any other asset bundle and remove this file.
//
//= require trix/dist/trix

// We need to override trix.css’s image gallery styles to accommodate the
// <action-text-attachment> element we wrap around attachments. Otherwise,
// images in galleries will be squished by the max-width: 33%; rule.
.trix-content {
  .attachment-gallery {
    > action-text-attachment,
    > .attachment {
      flex: 1 0 33%;
      padding: 0 0.5em;
      max-width: 33%;
    }

    &.attachment-gallery--2,
    &.attachment-gallery--4 {
      > action-text-attachment,
      > .attachment {
        flex-basis: 50%;
        max-width: 50%;
      }
    }
  }

  action-text-attachment {
    .attachment {
      padding: 0 !important;
      max-width: 100% !important;
    }
  }
  blockquote {
    background: #ebf5ff;
    border-left: 3px solid #cce5ff !important;
    border-bottom: 1px solid #cce5ff !important;
    margin-top: 1.2em;
    padding-left: 1rem;
  }
  blockquote:before{
    font-family: fantasy;
    font-size: 4rem;
    color: #cce5ff;
    content: open-quote;
    margin-right: -0.4rem;
    margin-left: -1rem;
    vertical-align: middle;
    line-height: 1rem;
  }
  blockquote:after{
    font-family: fantasy;
    content: close-quote;
    color: #aac5ff;
  }

  pre {
    background: #eeeeee;
    border-left: 3px solid #dddddd !important;
    border-bottom: 1px solid #dddddd !important;
    margin-top: 1rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    padding-left: 1.4rem;
    padding-right: 1rem;
  }
  pre:before{
    font-size: 3.5rem;
    color: #dddddd;
    content: "{";
    margin-right: 0.1rem;
    margin-left: -2rem;
    vertical-align: middle;
    line-height: 1rem;
  }
}
