<div class="container text-center">
  <%= image_tag("flying_dutchmen.svg", class: 'rounded m-auto', width: '300px') %>

  <p>
    The time is now:<br>
    <%= Time.zone.now.to_datetime.strftime('%F %T (%:z)') %>
  </p>

  <%= link_to "Forum", simple_discussion_path %>
</div>
