/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require fora
 *= require trix/dist/trix
 */

 blockquote {
  background: #ebf5ff;
  border-left: 5px solid #cce5ff !important;
  border-bottom: 1px solid #cce5ff !important;
  margin-top: 1rem;
  padding-left: 1rem;
}
blockquote:before{
  font-size: 4rem;
  color: #cce5ff;
  content: open-quote;
  margin-right: -0.4rem;
  margin-left: -1rem;
  vertical-align: middle;
  line-height: 1rem;
}
blockquote:after{
  content: close-quote;
  color: #aac5ff;
}

pre {
  background: #eeeeee;
  border-left: 5px solid #dddddd !important;
  border-bottom: 1px solid #dddddd !important;
  margin-top: 1rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  padding-left: 1.4rem;
  padding-right: 1rem;
}
pre:before{
  font-size: 3.5rem;
  color: #dddddd;
  content: "{";
  margin-right: 0.1rem;
  margin-left: -2rem;
  vertical-align: middle;
  line-height: 1rem;
}
