/* Allow pagination to be centered */

blockquote {
  background: #ebf5ff;
  border-left: 3px solid #cce5ff !important;
  border-bottom: 1px solid #cce5ff !important;
  margin-top: 2rem;
  padding-left: 1rem;
}
blockquote:before{
  font-family: fantasy;
  font-size: 4rem;
  color: #cce5ff;
  content: open-quote;
  margin-right: -0.4rem;
  margin-left: -1rem;
  vertical-align: middle;
  line-height: 1rem;
}
blockquote:after{
  font-family: fantasy;
  content: close-quote;
  color: #aac5ff;
}

pre {
  background: #eeeeee;
  border-left: 3px solid #dddddd !important;
  border-bottom: 1px solid #dddddd !important;
  margin-top: 2rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  padding-left: 1.4rem;
  padding-right: 1rem;
  min-height: 3.5rem;
}
pre:before{
  font-size: 3.5rem;
  color: #dddddd;
  content: "{";
  margin-right: 0.1rem;
  margin-left: -2rem;
  vertical-align: middle;
  line-height: 1rem;
}

.forum-threads-nav nav {
  display: inline-block;
}

.top-thread-nav {
  .page-link {
    padding: 0.2rem 0.5rem;
  }
}

/* Highlight the active navigation item in the sidebar */
.forum-thread-filters {
  a {
    color: #555;
  }

  .active {
    color: #222;
    font-weight: bolder;
  }
}

/* Formatting for the forum threads */
.forum-thread {
  margin-bottom: -20px;

  h4 {
    margin-bottom: 4px;

    a {
      color: #222;
      font-size: 16px;
      font-weight: normal;
      line-height: 1.1;
    }
  }
}

.forum-thread-filters a {
  color: #555555;
  display: block;

  &:hover {
    color: #222222;
    font-weight: bold;
    text-decoration: none
  }
}

.thread-details {
  color: #999;
  font-size: 12px;
  text-transform: uppercase;
  p {
    margin-bottom: 0;
  }
}

/* Display the forum post count above the "posts" text on the index page */
.thread-posts-count {
  color: #222;
  text-align: center;

  span, small {
    display: block;
  }

  .count {
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1em;
  }

  &:hover {
    color: #222;
    text-decoration: none;
  }
}

/* Formatting for the forum posts themselves */
.forum-post {
  position: relative;

  /* When the URL anchor matches a post id, highlight that item */
  &:target {
    background-color: rgb(248, 238, 199);
  }

  /* Fill this out if you want to highlight the OPs posts */
  &.original-poster {
  }

  &.solved {
    border: 2px solid #5cb85c;
  }
}

/* Formatting for the forum hr to match card border */
.fora hr {
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  margin: 24px -16px;
}

.fora .text-muted {
  color: #999;
  margin-top: 6px;
  font-size: 13px;
}
